In [ ]:
""" 
* Key Objectives for analysing your dataset
* Features of the columns you analysing and why are you analysing
* Preprocessing and Preparation | why you chose them

"""

In [4]:
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('UceResultsBySchool2011-2016.csv')
df

,YEAR,DISTRICT,SCHOOL,TOTAL CANDIDATES,TOTAL DIV 1,% DIV 1,TOTAL DIV 2,% DIV 2,TOTAL DIV 3,% DIV 3,...,MALE TOTAL DIV3,MALE % DIV3,MALE TOTAL DIV4,MALE % DIV4,MALE TOTAL DIV7,MALE % DIV7,MALE TOTAL DIV9,MALE % DIV9,MALE TOTAL X,MALE % X
0,2011,WAKISO,GAYAZA HIGH SCHOOL,176.0,175.0,99.4,1.0,0.6,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
1,2011,MUKONO,NAMILYANGO COLLEGE,151.0,150.0,99.3,NaN,0.0,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.7
2,2011,MUKONO,"MT.ST.MARY'S,NAMAGUNGA",153.0,151.0,98.7,2.0,1.3,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
3,2011,WAKISO,"UGANDA MARTYRS SS,NAMUGONGO",222.0,216.0,97.3,6.0,2.7,NaN,0.0,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
4,2011,BUSHENYI MAIN,KITABI SEMINARY,73.0,71.0,97.3,2.0,2.7,NaN,0.0,...,2.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17634,2016,ZOMBO,PAIDHA SECONDARY SCHOOL P.O.BOX 117 PAIDHA,148.0,0.0,0.0,12.0,8.1,30.0,20.3,...,25.0,24.0,53.0,51.0,0.0,0.0,10.0,9.6,4.0,3.8
17635,2016,ZOMBO,PAKADHA SEED SECONDARY SCHOOL P.O.BOX 143 P...,68.0,0.0,0.0,2.0,2.9,11.0,16.2,...,7.0,17.5,29.0,72.5,0.0,0.0,3.0,7.5,0.0,0.0
17636,2016,ZOMBO,"CHARITY COLLEGE,PAIDHA P.O.BOX 47 PAIDHA",128.0,0.0,0.0,4.0,3.1,6.0,4.7,...,6.0,5.8,54.0,51.9,1.0,1.0,31.0,29.8,8.0,7.7
17637,2016,ZOMBO,NEGRINI MEM. SECONDARY SCHOOL P.O.BOX 156 P...,45.0,0.0,0.0,1.0,2.2,2.0,4.4,...,2.0,6.5,19.0,61.3,0.0,0.0,9.0,29.0,1.0,3.2
17638,2016,ZOMBO,JANGOKORO SEED SEC. SCHOOL P.O.BOX 139 PAIDHA,50.0,0.0,0.0,1.0,2.0,4.0,8.0,...,4.0,18.2,10.0,45.5,0.0,0.0,7.0,31.8,0.0,0.0

In [4]:
# Sample out some of the data | Dataset before cleaning
df.head()
# Check the shape | Helps to determine No of Rows 
df.shape

(17639, 48)

In [6]:
# Preparation and Preprocessing or data cleaning
df.columns
# Removing whitespaces
df.columns = df.columns.to_series().apply(lambda x: x.strip())
df.columns

Index(['YEAR', 'DISTRICT', 'SCHOOL', 'TOTAL CANDIDATES', 'TOTAL DIV 1',
       '% DIV 1', 'TOTAL DIV 2', '% DIV 2', 'TOTAL DIV 3', '% DIV 3',
       'TOTAL DIV 4', '% DIV 4', 'TOTAL DIV 7', '% DIV 7', 'TOTAL DIV 9',
       '% DIV 9', 'TOTAL X', '% X', 'FEMALE CANDIDATES', 'FEMALE TOTAL DIV1',
       'FEMALE % DIV1', 'FEMALE TOTAL DIV2', 'FEMALE % DIV2',
       'FEMALE TOTAL DIV3', 'FEMALE % DIV3', 'FEMALE TOTAL DIV4',
       'FEMALE % DIV4', 'FEMALE TOTAL DIV7', 'FEMALE % DIV7',
       'FEMALE TOTAL DIV9', 'FEMALE % DIV9', 'FEMALE TOTAL X', 'FEMALE % X',
       'MALE CANDIDATES', 'MALE TOTAL DIV1', 'MALE % DIV1', 'MALE TOTAL DIV2',
       'MALE % DIV2', 'MALE TOTAL DIV3', 'MALE % DIV3', 'MALE TOTAL DIV4',
       'MALE % DIV4', 'MALE TOTAL DIV7', 'MALE % DIV7', 'MALE TOTAL DIV9',
       'MALE % DIV9', 'MALE TOTAL X', 'MALE % X'],
      dtype='object')

In [7]:
# Replace column names with underscore
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['YEAR', 'DISTRICT', 'SCHOOL', 'TOTAL_CANDIDATES', 'TOTAL_DIV_1',
       '%_DIV_1', 'TOTAL_DIV_2', '%_DIV_2', 'TOTAL_DIV_3', '%_DIV_3',
       'TOTAL_DIV_4', '%_DIV_4', 'TOTAL_DIV_7', '%_DIV_7', 'TOTAL_DIV_9',
       '%_DIV_9', 'TOTAL_X', '%_X', 'FEMALE_CANDIDATES', 'FEMALE_TOTAL_DIV1',
       'FEMALE_%_DIV1', 'FEMALE_TOTAL_DIV2', 'FEMALE_%_DIV2',
       'FEMALE_TOTAL_DIV3', 'FEMALE_%_DIV3', 'FEMALE_TOTAL_DIV4',
       'FEMALE_%_DIV4', 'FEMALE_TOTAL_DIV7', 'FEMALE_%_DIV7',
       'FEMALE_TOTAL_DIV9', 'FEMALE_%_DIV9', 'FEMALE_TOTAL_X', 'FEMALE_%_X',
       'MALE_CANDIDATES', 'MALE_TOTAL_DIV1', 'MALE_%_DIV1', 'MALE_TOTAL_DIV2',
       'MALE_%_DIV2', 'MALE_TOTAL_DIV3', 'MALE_%_DIV3', 'MALE_TOTAL_DIV4',
       'MALE_%_DIV4', 'MALE_TOTAL_DIV7', 'MALE_%_DIV7', 'MALE_TOTAL_DIV9',
       'MALE_%_DIV9', 'MALE_TOTAL_X', 'MALE_%_X'],
      dtype='object')

In [17]:
# Check for the information of the dataset
df.info()
print("================")
# Check for the duplicates
for is_dup in df.duplicated():
    if is_dup:
        print('Duplicates Identified and dropped!')
        df.drop_duplicates(inplace=True)
        break
    else:
        pass
print('No duplicates found!') 
df[df.duplicated()==True]

<class 'pandas.core.series.Series'>
Index: 1 entries, 0 to 0
Series name: None
Non-Null Count  Dtype
--------------  -----
1 non-null      bool
dtypes: bool(1)
memory usage: 9.0 bytes
================
No duplicates found!

Series([], dtype: bool)

In [3]:
# Check for the number of rows with null values
null_rows = df[df.isna().any(axis=1)]
before_compution = len(null_rows.axes[0])
print('Number of rows that are null values:',str(before_compution))

Nuber of rows that are null values: 14511

In [6]:
# Remove rows without school
df.dropna(thresh=None, subset=['SCHOOL'], inplace=True)

In [9]:
# Statistics for Data Science
# Descriptive Statistics, Central Tendency(Mean, median, mode) Measure dispersion (standard)
# Probability
# Inferential Statistics, (make predictions, identify variables and hypothesis)
# Modelling
# ML
# Regression, classification, cluster analysis, anomaly detection
# 250722359866


# Python data correlation
# use method corr() calculates correlation coefficient between all columns in dataframe
# Strong Positive correlation 1 Strong Negative correlation -1
# Perfect correlation 0.93455 Perfct Negative correlation -0.93455
# Good correlation above 0.5 Good Negative correlation below -0.5
# Bad correlation: less than 0.5

df = pd.DataFrame({
    'x': [1,2,9,7,5],
    'y': [6,7,4,9,10],
    'z': [11,12,1,14,15]
})
correlation = df.corr()
print(correlation)

          x         y         z
x  1.000000 -0.118899 -0.499379
y -0.118899  1.000000  0.905891
z -0.499379  0.905891  1.000000